code {
  font-size: 25px;
  }

ul {
  list-style-type: none;
}

pre code {
  font-size: 25px;
}

body {
  font-family: 'Darker Grotesque',Arial;
  font-weight: 500;
  font-size: 35px;
}

.slide_container{
  font-size: 30px;
}